<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="menu_mgmtsystem_categories"
              name="Categories"
              action="document_page.action_category"
              parent="mgmtsystem.menu_mgmtsystem_configuration"
              sequence="20"
              groups="mgmtsystem.group_mgmtsystem_manager"/>

    <!-- action added in views -->
    <menuitem id="menu_mgmtsystem_manuals_manuals"
              name="Manuals"
              parent="mgmtsystem.menu_mgmtsystem_manuals"
              sequence="0"
              groups="mgmtsystem.group_mgmtsystem_viewer"
              />
</odoo>
